.parent{
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 15% 70% 15%;
}

.header{
    background-color: aqua;
    grid-column: 1/4;
    grid-row: 1/2;
}

.leftmenu{
    background-color: blueviolet;
    grid-column: 1/2;
    grid-row: 2/3;
}
.main{
    background-color: chartreuse;
    grid-column: 2/3;
    grid-row: 2/3;
}

.rightmenu{
    background-color: brown;
    grid-column:3/4 ;
    grid-row: 2/3;
}

.footer{
    background-color: rgb(18, 238, 48);
    grid-column: 1/4;
    grid-row: 3/4;
}
